@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --fc-event-bg-color: oklch(27.8% 0.033 256.848);
  --fc-event-border-color: oklch(27.8% 0.033 256.848);
  --fc-button-bg-color: oklch(27.8% 0.033 256.848);
  --fc-button-hover-bg-color: oklch(27.8% 0.033 256.848);
  --fc-button-hover-border-color: oklch(27.8% 0.033 256.848) / 10;
  /* --fc-button-active-bg-color: oklch(58.5% 0.233 277.117); */

  --ui-color-primary-500: oklch(27.8% 0.033 256.848);
}

body {
  @apply bg-gray-100;
}
